---
layout: layout.liquid
---

<section class="black-cat between">
    <div class="container">
        <div class="global-headline">
            <div class="animate-top">
                <h2 class="sub-headline">
                    <span class="first-letter">K</span>očky
                </h2>
            </div>
            <div class="animate-bottom">
                <h1 class="headline">k adopci</h1>
            </div>
        </div>
    </div>
</section>

{%- for cat in adopce -%}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
  {% if thecycle == 'odd' %}
    <section>
        <div class="container">
            <div class="info">
                <div class="description padding-right animate-left">
                    <div class="global-headline">
                        <h1 class="head-off headline-dark">{{ cat.name }}</h1>
                        <div class="asterisk"><i class="fas fa-askerisk"></i></div>
                    </div>
                    <p>{{ cat.detail_1 }}</p> 
                    <p>{{ cat.detail_2 }}</p> 
                </div>
                <div class="info-img animate-rigt">
                    <img src="{{ cat.img }}" alt="">
                </div>
            </div>
        </div>
    </section>
  {% else %}
    <section>
        <div class="container">
            <div class="info">
                <div class="info-img animate-left">
                    <img src="{{ cat.img }}" alt="">
                </div>
                <div class="description padding-left animate-right">
                    <div class="global-headline">
                        <h1 class="head-off headline-dark">{{ cat.name }}</h1>
                        <div class="asterisk"><i class="fas fa-askerisk"></i></div>
                    </div>
                    <p>{{ cat.detail_1 }}</p>
                    <p>{{ cat.detail_2 }}</p>  
                </div>
            </div>
        </div>
    </section>
  {% endif %}
{%- endfor -%}




